{% extends 'base.html' %} {% block title %} Cisco Healthcare Center - Confirm Booking {%
    endblock title %} {% block content %} {% if service_unavailable %}
    <br />
    <br />
    <br />
    <div class="container text-center">
      <h1 class="display-4 text-muted">
        We are sorry <i class="far fa-sad-tear"></i> <br />
        The service is not available at the moment
      </h1>
    </div>
    <br />
    
    {% else %}
<div class="container col">
  <br />
  <div class="col">
    <h4>Please confirm your booking with doctor <b>{{ doctor }}</b></h4>
    <form action="/book" method="post" role="form">
      <input
        id="csrf_token"
        name="csrf_token"
        type="hidden"
        value="IjM5MzcyNGVmYmIwMDE1ODkyYzAzYzQ3NDBiOGMxYjIyMzg1YWM2MjEi.Xc3k1A.Hot5nH-pK7xsFdDowL27-bGF7Qw"
      />



      
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="form-group required">
            <div class="row">
              <div class="col">
                <label class="control-label" for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="First name" aria-label="First name">
              </div>
              <div class="col">
                <label class="control-label" for="lastname">Lastname:</label>
                <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last name" aria-label="Last name">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label class="control-label" for="age">Age:</label>
                <input type="text" id="age" name="age" class="form-control" placeholder="Insert your age" aria-label="Insert your age">
              </div>
              <div class="col">
                <label class="control-label" for="gender">Gender:</label>
                <select id="gender" name="gender" class="form-control">
                  <option selected>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col">
       
              </div>
           
            </div>
            <label class="control-label" for="mobile">Mobile Number:</label>
            <input class="form-control" id="mobile" name="mobile" placeholder="mobile number" type="text"/>
            <label class="control-label" for="date">Available date:</label>
            <select id="date" name="date" class="form-control">
              {% for d in date %}
              <option>{{d.toGMTString()}}</option>
              {% endfor %}
            </select>
            <label class="control-label" for="name">Credit Card:</label>
            <select id="creditcard" name="creditcard" class="form-control">
              <option selected>Amex</option>
              <option>Paypal</option>
              <option>Visa</option>
            </select>
            <br><br>
            <button type="submit" class="btn btn-primary">Confirm your booking!</button>
            
            
            <input type="hidden" id="doctor" name="doctor" value="{{ doctor }}" />
            <input type="hidden" id="price" name="price" value="{{ price}}" />
            <input type="hidden" id="category" name="category" value="{{ category}}" />
            <input type="hidden" id="hospital" name="hospital" value="{{ hospital}}" />
          
          </div>
        </div>
        <div class="form-group custom-control">
            <div class="card" style="width: 18rem;">
                <img src="img/medic.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dr. {{ doctor }}</h5>
                  <p class="card-text">Specialist in {{ specialty}}</p>
                  <p class="card-text">{{ hospital}}</p>
                  <p class="card-text">Visit Cost: £{{ price}}</p>
                </div>
            </div>
        </div>
      </div>
 
    </form>
  </div>
</div>



    
    {% endif %} {% if validation_success %}
    
    <script>
      $(document).ready(function() {
        $("#resultModal").modal("toggle");
      });
    </script>
    {% endif %} {% endblock %}
    